{namespace sz=Ecom\SzDownloadcenter\ViewHelpers}
<f:debug>{_all}</f:debug>
<f:link.page pageUid="120" additionalParams="{tx_szdownloadcenter_downloadcenter:'{dlProductId:product.uid}'}" class="{customClasses}" noCacheHash="1" >
	<f:if condition="{settings.overrideButtonLabel}">
		<f:then>
			{settings.overrideButtonLabel}
		</f:then>
		<f:else>
			<f:translate key="LLL:EXT:sz_downloadcenter/Resources/Private/Language/locallang.xlf:button_label.downloadButton" />
		</f:else>
	</f:if>
</f:link.page>