{namespace sz=Ecom\SzDownloadcenter\ViewHelpers}

<f:comment><sz:includeFile path="EXT:sz_downloadcenter/Resources/Public/Js/Libs/owlcarousel/owl.carousel.min.js" includeJsFooter="true" /></f:comment>
<f:comment><sz:includeFile path="EXT:sz_downloadcenter/Resources/Public/Js/Libs/owlcarousel/owl.carousel.css" /></f:comment>
<f:comment><sz:includeFile path="EXT:sz_downloadcenter/Resources/Public/Js/Libs/owlcarousel/owl.transitions.css" /></f:comment>
<sz:includeFile path="EXT:sz_downloadcenter/Resources/Public/Js/sz_downloadcenter.js" includeJsFooter="true" />
<sz:includeFile path="EXT:sz_downloadcenter/Resources/Public/Css/sz_downloadcenter.css" />

<div class="tx-sz-downloadcenter setcard">
	<f:render section="main" />
</div>